@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
}

.card {
    background: #fff;
    border-radius:25px;
    margin: auto;
}
.number {
    font-size: 165px;
}
.textSize1 {
    font-size: 100px;
}
.textSize2 {
    font-size: 100px;
    transform: rotate(180deg);
}
.textRed {
    color: red;
}
.textBlack{
    color: black
}